.ff{
    margin-left: 0px;
     width: 200px;
     animation: floatAnimation 1.2s infinite alternate ease-in-out; /* Add animation properties */
 }
 
 /* Keyframes for the floating animation */
 @keyframes floatAnimation {
     0% {
         transform: translateY(0);
     }
     

     100% {
         transform: translateX(-50px); /* Adjust the distance and direction of the float */
     }
 }
 

 #countdown {
    margin: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}